/* Edit this stylesheet for index.html */
#about {
	background-color: #fff;
	padding: 50px;
	margin: 0;
	width: 100%;
	height: 500px;
	position: relative;
}
#content {
	top: 25px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
}
#viewCode {
	display: table-cell;
 	background-color: #473892;
}
#userText {
	display: table-cell;
	background-color: #666;
}
#users {
	display: table-cell;
	float: left;
	background-color: #ccc;
	width: 125px;
	height: 500px;
	overflow-y: auto;
	overflow-x: inherit;
}

#users ul {
	padding: 0;
	margin: 0;
}
#users ul li {
	list-style: none;
	text-align: center;
}
/*
#users ul a:hover li {
	padding: 15px;
	background-color: #fff;
	text-decoration: none;
}
#users ul a li{
	padding: 15px;
	text-decoration: none;
}*/



body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #EFEAE1;
	margin: 0;
}
html {
 	min-width: 1300px;
 }
h1 {
	margin: 0;
 	font-size: 3.0em;
 	color: #66595C;
 	text-align: center;
}
nav {
	padding: 0;
	margin: 20px;
	height: 50px;
	text-align: center;
}
nav ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}
nav ul li {
	list-style: none;
	float: left;
	font-size: 1.2em;
	color: #66595C;
}
nav ul li a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #66595C;
	padding: 0 10px 0 10px;
}
nav ul li a:hover {
	background-color: #fff;
	padding: 0 10px 0 10px;
}
textarea {
	padding: 0;
	margin: 0;
}
.no_bullet {
	list-style-type: none;
}
.table_row {
	display: table-row;
	clear: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Overrides Codemirror styling */
.CodeMirror {
	width: 550px !important;
	height: 500px !important;
	float: left;
}